*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 28%, 20%);
    color:wheat;
    
}
html{
    font-size: 102.5%;
}
.mm{
    border:7px solid gold; 
}
/* responsive desing mobile phone */

